body {
    font-family: 'Noto Sans CJK JP', 'Noto Sans JP', 'Yu Gothic Medium', YuGothicMedium, MeiryoUI, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Hiragino Sans', arial, helvetica, sans-serif ;
}
#nav {
  list-style: none;
  overflow: hidden;
}
 #nav li {
    width: auto;
  text-align: center;
  background-color: #000000;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
  float: left;
}
 #nav li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
}
a.no-underline {
  text-decoration: none;
  color: #000000;
}
a.buttons {
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  line-height: 40px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: #86cecb;
  color: #373b3e;
  transition: 0.1s;
  margin-left: auto;
  margin-right: auto;
}

.buttons:hover {
  opacity: 0.7;
}

.buttons:not(:first-of-type) {
  margin-top: 20px;
}